@import url(http://fonts.googleapis.com/css?family=Ceviche+One);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import "compass/css3";
@import "compass/utilities/color/contrast";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";

header {
  background-color: #dadcd1;
  background-image: url('../images/person.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  text-align: center;
  > div:first-child{
    width: 65%;
    @include contrasted( hsla( 0, 0, 0, 0.5 ));
    > div:first-child{
      @include flex-wrap(wrap);
      img{
        margin: 0 8px;
      }
      .avatar{
        @include border-radius(25pt);
      }
      h1{
        font-family: 'Ceviche One', cursive;
        margin: 0 8px;
      }
      h2{
        font-family: 'Audiowide', cursive;
        margin: 0 8px;
      }
    }
    md-list{
      @include flex-wrap(wrap);
      > md-list-item{
        @include contrasted( hsla( 0, 0, 0, 0.3 ));
        word-break: break-word;
        margin: 4px;
        padding: 4px;
        > a.md-button.md-icon-button{
          margin: 0;
          height: 36px;
          line-height: 36px;
          width: 36px;
        }
      }
    }
  }
  > em:last-child{
    @include contrasted( hsla( 0, 0, 0, 0.5 ));
    font-size: 12px;
  }
}
@media (min-width: 960px) and (max-width: 1200px){
    header {
      background-image: url('../images/person_lg.jpg');
    }
}
@media (min-width: 600px) and (max-width: 960px){
    header {
      background-image: url('../images/person_md.jpg');
    }
}
@media (max-width: 600px){
    header {
      background-image: url('../images/person_sm.jpg');
    }
}
