// bower:scss
// endbower
*{
	font-family: "trebuchet ms", arial, sans-serif;
}
@mixin border-top-radius( $radius ) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}
@mixin border-bottom-radius( $radius ) {
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-top-left-radius( $radius ) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
}
@mixin border-bottom-right-radius( $radius ) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}
.box{
  margin: 0.5em;
  > *:first-child{
    @include border-top-radius(25pt);
  }
  > *:last-child{
    @include border-bottom-radius(25pt);
  }
}
.blade{
  @include border-top-left-radius(25pt);
  @include border-bottom-right-radius(25pt);
}
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
md-grid-list.technical-skills {
  margin: 8px;
}
$red-hue: 5;
$green-hue: 137;
$yellow-hue: 60;
$blue-hue: 180;
$purple-hue: 262;
$saturation: 100%;
$lightness-light: 75%;
$lightness-hard: 70%;
.technical-skills .gray {
  // background: #f5f5f5;
  background-color:hsl(0, 0, $lightness-light);
  .md-chip{
    background-color:hsl(0, 0, $lightness-hard);
  }
}
.technical-skills .green {
  // background: #b9f6ca;
  background-color:hsl($green-hue, $saturation, $lightness-light);
  .md-chip{
    background-color:hsl($green-hue, $saturation, $lightness-hard - 10);
  }
}
.technical-skills .yellow {
  // background: #ffff8d;
  background-color:hsl($yellow-hue, $saturation, $lightness-light);
  .md-chip{
    background-color:hsl($yellow-hue, $saturation, $lightness-hard - 10);
  }
}
.technical-skills .blue {
  // background: #84ffff;
  background-color:hsl($blue-hue, $saturation, $lightness-light);
  .md-chip{
    background-color:hsl($blue-hue + 10, $saturation, $lightness-hard);
  }
}
.technical-skills .purple {
  // background: #b388ff;
  background-color:hsl($purple-hue, $saturation, $lightness-light);
  .md-chip{
    background-color:hsl($purple-hue, $saturation, $lightness-hard);
  }
}
.technical-skills .red {
  background-color:hsl($red-hue, $saturation, $lightness-light);
  .md-chip{
    background-color:hsl($red-hue, $saturation, $lightness-hard);
  }
}
.technical-skills md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

md-chips .md-chips{
  box-shadow: none;
}
.with-icon .md-chip{
  padding-left: 0;
}
.with-icon .md-chip-content img{
  height: 32px;
  border-radius: 16px;
}
.with-icon .md-chip-content strong{
  margin-left: 8px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media print{
}
