// bower:scss
// endbower
@import "compass/css3";
@import "compass/utilities/color/contrast";
* {
	font-family: "trebuchet ms", arial, sans-serif;
}

.sticker{
	@include border-top-radius(25pt);
  margin: 8px;
}
$gray-lightness: 75%;
md-grid-tile.gray {
  background-color:hsl(0, 0, $gray-lightness);
  .md-chip{
		@include contrasted( hsl(0, 0, $gray-lightness - 5));
  }
}
$green-hue: 137;
$green-saturation: 100%;
$green-lightness: 75%;
md-grid-tile.green {
  background-color:hsl($green-hue, $green-saturation, $green-lightness);
  .md-chip{
		@include contrasted( hsl($green-hue, $green-saturation, $green-lightness - 15));
  }
}
$yellow-hue: 60;
$yellow-saturation: 100%;
$yellow-lightness: 75%;
md-grid-tile.yellow {
  // background: #ffff8d;
  background-color:hsl($yellow-hue, $yellow-saturation, $yellow-lightness);
  .md-chip{
		@include contrasted( hsl($yellow-hue, $yellow-saturation, $yellow-lightness - 15));
  }
}
$cyan-hue: 180;
$cyan-saturation: 100%;
$cyan-lightness: 75%;
md-grid-tile.cyan {
  // background: #84ffff;
  background-color:hsl($cyan-hue, $cyan-saturation, $cyan-lightness);
  .md-chip{
		@include contrasted( hsl($cyan-hue, $cyan-saturation, $cyan-lightness - 30));
  }
}
$blue-hue: 240;
$blue-saturation: 100%;
$blue-lightness: 75%;
md-grid-tile.blue {
  // background: #84ffff;
  background-color:hsl($blue-hue, $blue-saturation, $blue-lightness);
  .md-chip{
		@include contrasted( hsl($blue-hue, $blue-saturation, $blue-lightness - 5));
  }
}
$purple-hue: 262;
$purple-saturation: 100%;
$purple-lightness: 75%;
md-grid-tile.purple {
  // background: #b388ff;
  background-color:hsl($purple-hue, $purple-saturation, $purple-lightness);
  .md-chip{
		@include contrasted( hsl($purple-hue, $purple-saturation, $purple-lightness - 5));
  }
}
$red-hue: 5;
$red-saturation: 100%;
$red-lightness: 75%;
md-grid-tile.red {
  background-color:hsl($red-hue, $red-saturation, $red-lightness);
  .md-chip{
		@include contrasted( hsl($red-hue, $red-saturation, $red-lightness - 5));
  }
}
$orange-hue: 26;
$orange-saturation: 100%;
$orange-lightness: 75%;
md-grid-tile.orange {
  background-color:hsl($orange-hue, $orange-saturation, $orange-lightness);
  .md-chip{
		@include contrasted( hsl($orange-hue, $orange-saturation, $orange-lightness - 5));
  }
}
$pink-hue: 14;
$pink-saturation: 100%;
$pink-lightness: 75%;
md-grid-tile.pink {
  background-color:hsl($pink-hue, $pink-saturation, $pink-lightness);
  .md-chip{
		@include contrasted( hsl($pink-hue, $pink-saturation, $pink-lightness - 5));
  }
}
$brown-hue: 16;
$brown-saturation: 25%;
$brown-lightness: 38%;
md-grid-tile.brown {
  background-color:hsl($brown-hue, $brown-saturation, $brown-lightness);
  .md-chip{
		@include contrasted( hsl($brown-hue, $brown-saturation, $brown-lightness - 5));
  }
}
md-grid-tile md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

md-chips .md-chips{
  box-shadow: none;
}
.with-icon .md-chip{
  padding-left: 0;
}
.with-icon .md-chip-content img{
  height: 32px;
  border-radius: 16px;
}
.with-icon .md-chip-content strong{
  margin-left: 8px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media print{
}
