@media only print{
  .md-list-item-text{
    font-size: 12px;
  }
  header{
    > div:first-child{
      width: 85%;
      > div:first-child{
        margin: 0;
        padding: 0;
        > .avatar{
          height: 50px;
        }
        .md-display-1{
          font-size: 17px;
          line-height: 20px;
        }
        .md-headline{
          font-size: 12px;
          line-height: 16px;
        }
      }
      md-list{
        md-list-item{
          > a.md-button.md-icon-button{
            margin: 0 2px 0 0;
            height: 24px;
            min-height: 24px;
            line-height: 24px;
            width: 24px;
          	padding: 0;
          }
          min-height: 24px;
          align-items: center;
          margin: 2px;
          padding: 2px;
          .md-list-item-text{
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    > em:last-child{
      display: block;
      font-size: 6px;
    }
  }
  md-list{
    padding: 0;
    > md-list-item.md-2-line{
      min-height: initial;
      > a:first-child{
        img{
          height: 24px;
        }
      }
      >.md-list-item-text{
        padding: 0;
        h3{
          font-size: 12px;
        }
        h4,
        p{
          font-size: 10px;
        }
      }
    }
    button.md-button{
      display: none;
    }
    md-list-item.md-2-line .md-list-item-text{
      padding: 0;
      h3{
        margin: 0;
	      padding: 0;
      }
    }
  }
  .layout-margin,
  [layout-margin] > * {
    margin: 2px 0;
  }
  md-toolbar{
    min-height: 28px;
  }
  .md-toolbar-tools{
    min-height: 28px;
    height: 28px;
    font-size: 16px
  }
  md-grid-list md-grid-tile{
    md-grid-tile-header,
    md-grid-tile-footer{
      height: 24px;
    }
  }
  md-grid-list md-grid-tile.no-foot md-chips{
    margin-top: 28px;
  }
  .md-chips .md-chip{
    line-height: 14px;
    height: 14px;
    margin: 2px;
    padding: 0 2px 0 0;
    img{
      height: 14px;
      width: 14px;
    }
    strong{
      margin-left: 4px;
    }
    font-size: 8px;
  }
}
