<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Guillaume Seguin</title>
    <meta name="description" content="Curriculum Vitae de Guillaume Seguin">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/md-fix.css">
    <link rel="stylesheet" href="styles/print.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cvApp" layout="column">
    <h1 hide>Curriculum vitae de Guillaume Seguin</h1>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header layout="row" layout-align="space-between end" layout-margin>
      <div ng-controller="HeaderCtrl" layout="column" layout-align="space-around">
        <div layout="row" layout-align="space-between center" layout-align-lg="space-around center" layout-align-md="space-around center" layout-align-sm="center center" layout-margin layout-padding layout-wrap>
          <img src="images/avatar.jpg" aria-label="Avatar" class="avatar">
          <h1 class="md-display-1">
            <span>Guillaume Seguin</span>
          </h1>
          <h2 class="md-headline">
            <span>Développeur Web</span>
          </h2>
        </div>
        <md-list layout="row">
          <md-list-item layout="row" layout-align="center" layout-margin layout-padding layout-wrap ng-repeat="subItem in subList">
            <md-button ng-if="subItem.icon" ng-href="{{subItem.onClick}}"
                 title="Launch Google.com in new window"
                 target="_blank"
                 aria-label="Google.com"
                 class="md-icon-button launch" >
              <md-icon md-svg-icon="{{subItem.icon}}"></md-icon>
            </md-button>
            <div ng-class="subItem.classList" ng-bind="subItem.title" class="md-list-item-text">
            </div>
          </md-list-item>
        </md-list>
      </div>
      <!-- <em layout-padding>Activités: Futsal & badminton</em> -->
    </header>
    <section ng-include="'views/main.html'" ng-controller="MainCtrl as main"></section>
    <footer></footer>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <!-- endbuild -->
</body>
</html>
