<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Guillaume Seguin</title>
    <meta name="description" content="Curriculum Vitae de Guillaume Seguin">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cvApp" layout="column">
    <h1 hide>Curriculum Vitae de Guillaume Seguin</h1>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header ng-controller="HeaderCtrl">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
          <span>Présentation</span>
        </h1>
      </md-toolbar>
      <md-whiteframe class="md-whiteframe-z3" layout="column" layout-padding layout-align="center start">
        <md-content layout="row" layout-padding layout-align="start center">
          <h2>Guillaume Seguin</h2>
          <h3>Développeur Web</h3>
        </md-content>
        <md-list layout="row" layout-padding layout-align="start center">
          <md-list-item class="md-3-line" ng-repeat="subItem in subList" ng-click="subItem.onClick" ng-bind="subItem.title"></md-list-item>
        </md-list>
      </md-whiteframe>
    </header>
    <section ng-include="'views/main.html'" ng-controller="MainCtrl"></section>
    <footer></footer>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <!-- endbuild -->
</body>
</html>
