<div class="md-list-item-text" layout-padding>
  <h3 layout="row" layout-sm="column" layout-align="space-between">
    <span ng-bind="job.what"></span>
    <span ng-bind="job.who"></span>
  </h3>
  <h4 layout="row" layout-sm="column" layout-align="space-between">
    <span ng-bind="job.role"></span>
    <span ng-bind="job.when"></span>
  </h4>
</div>
<div class="md-list-item-text" layout-padding>
  <p layout="row">
    <span ng-bind="job.notes" flex></span>
    <md-button class="md-icon-button" aria-label="Share" ng-click="job.isFull = !job.isFull" ng-if="job.templateUrl">
      <md-icon md-svg-icon="images/plus.svg" ng-hide="job.isFull"></md-icon>
      <md-icon md-svg-icon="images/less.svg" ng-show="job.isFull"></md-icon>
    </md-button>
  </p>
</div>
  <h3>Fonctionnalités techniques.</h3>
  <h4>Le mode déconnecté permet l'utilisation de l'application sans connexion internet.</h4>
  <p>
    L'utilisation du service <i>$resource</i> d'<i>AngularJS</i>,
    la gestion de la mise à jour du cache, le HTML5 Web Storage et la compression
    (via d'autres modules de la communauté d'<i>AngularJS</i>) permet la persistance des données
    dans un navigateur internet.
  </p>
  <p>
    Le transfert automatique des templates HTML vers un seul fichier JS
    (réalisé via un package de <i>Node.js</i>) évite les requêtes HTTP lors de
    l'utilisation de l'application.
  </p>
  <p>
    La conversion automatique des medias en base 64 évite également les requêtes HTTP.
  </p>
  <p>
    La détection automatique de la déconnexion à internet permet de basculer
    l'application en mode dégradé et d'en informer l'utilisateur.
  </p>
  <h4>Un extranet.</h4>
  <p>
    La méthode <i>Digest</i> de l'authentification HTTP permet de sécurisé
    tous les appels de l'application vers le serveur. Cela permet également d'éviter
    la ressaisie du mot de passe de l'utilisateur lors de ses prochaines utilisations.
  </p>
  <p>
    L'accès aux vues de l'application est contrôlé par la promesse <i>resolve</i>
    de l'objet <i>$routeProvider</i>.
  </p>
  <p>
    Certains profils utilisateurs peuvent réaliser des opérations CRUDS.
  </p>
  <p>
    L'import et le parsage de fichiers spécifiques permet de faciliter la saisie des utilisateurs.
  </p>
  <h4>Visualisation et manipulation 3D avec WebGL.</h4>
  <h4>Graphiques dynamiques avec <i>D3.js</i> (dot-plot, histogramme, arbre phylogénétique).</h4>
  <h4>Un tour guidé de l'application.</h4>
  <p>
    Réaliser via un module de la communauté d'<i>AngularJS</i>, il permet de familiariser l'utilisateur
    à chaque vue de l'application à travers la réalisation d'exemples concrets.
  </p>
  <h4>Statistiques</h4>
  <p>
    Utilisation de Google tag manager via un module de la communauté d'<i>AngularJS</i>.
    Cela permet également de suivre finement chaque profil utilisateur.
  </p>
  <h4>Architecture applicative.</h4>
  <p>
    Anagène a été construite avec un générateur de <i>Yeoman</i>.
    Il permet notamment d'assurer l'ajout de contrôleur ou autres.
  </p>
  <p>
    L'application est basée sur une architecture REST.
  </p>
  <p>
    Le développement d'un module SSO pour serveur CAS (utilisation d'une machine à états finis)
    permet l'interconnexion avec un annuaire d'utilisateurs.
  </p>
  <p>
    <i>GruntJS</i> fournie un serveur web local qui permet de contrôler instantanément
     le comportement de l'application sur plusieurs navigateurs internet.<br>
     Il permet également de facilité le déploiement de l'application au travers de
     différents services :
     l'injection automatique des composants <i>Bower</i> dans l'application,
     la minification des scripts JS, CSS et des images,
     l'ajout automatique des préfixes CSS pour la compatibilité des navigateurs web,
     la concaténation des fichiers,
     et l'utilisation de références CDN Google
  </p>
  <p>
    La gestion de version des librairies JS est réalisée avec <i>Bower</i>.
    A noter que tout au long du projet la dernière version d'<i>AngularJS</i>
    et de ReactJS a été utilisée.
  </p>
  <p>
    L'exécution de tests automatiques est réalisée avec Karma et Jasmine.
  </p>
  <h4>UX & UI.</h4>
  <p>
    Au-delà des fonctionnalités natives à <i>AngularJS</i>, l'utilisation des modules tel que
    <i>x-editable</i> et <i>angular-strap</i> (basés sur le framework CSS <i>Bootsrap</i>)
    améliore l'expérience de l'utilisateur.
    A noter ma contribution sur certains des modules utilisés dans l'application.
  </p>
  <h4>Test.</h4>
  <p>
    Les services, contrôleurs, directives et filtres d'<i>AngularJS</i> ont bénéficié de
    l'écriture de tests unitaires automatiques de non régression.
  </p>
  <p>
    Au travers de ces tests, l'injection de différents jeux de données permet
    de tester à chaque déploiement l'application de A à Z.
  </p>
  <p>
    L'écriture de tests fonctionnels contrôle plusieurs navigateurs internet et permet
    de vérifier le comportement de l'application.
  </p>
  <p>
    <i>AngularJS</i> fournit toutes les fonctionnalités nécessaires pour tester correctement
    l'application. Par exemple, la gestion des requêtes asynchrones avec <i>$httpBackend</i>.
  </p>
  <h4>Performance.</h4>
  <p>
    En cours de développement, <i>AngularJS Batarang</i> permet de repérer les
    traitements les plus gourmands en mémoire et donc de les améliorer.
  </p>
  <p>
    Le virtual scroll (implémenté via un module de la communauté) rend les listes
    longues performantes tout en augmentant la visibilité de l'utilisateur.
  </p>
  <p>
    Pour les listes longues éditables, l'implémentation de <strong><i>ReactJS</i></strong>
    reste la solution la plus performante et maintenable.
  </p>
  <p>
    L'utilisation de l'évènement <i>$destroy</i> évite les fuites de mémoire.
  </p>
  <p>
    La transclusion augmente les performances, ainsi que le <i>One-time binding</i>.
  </p>
