<h5>Fonctionnalités techniques</h5>
<ul>
  <li>
    Mode déconnecté :
    <ul>
      <li>persistance des données : utilisation de <i>$resource</i>, gestion de la mise à jour du cache, HTML5 Web Storage et compression</li>
      <li>transfert automatique des templates HTML vers un seul fichier JS</li>
      <li>conversion automatique des medias en base 64</li>
    </ul>
  </li>
</ul>
<h5>Architecture applicative</h5>
<ul>
  <li>construite avec Yeoman</li>
  <li>architecture REST</li>
  <li>développement d'un module SSO pour serveur CAS (utilisation d'une machine à états finis)</li>
  <li>
    déploiement avec GruntJS
    <ul>
      <li>minification des scripts JS, CSS et des images</li>
      <li>concaténation des fichiers</li>
    </ul>
  </li>
  <li>gestion de version des librairies JS avec Bower</li>
  <li>execution de tests automatiques avec Karma et Jasmine</li>
</ul>
<h5>UX & UI</h5>
<ul>
  <li>contribution au module <i>angular-strap</i></li>
</ul>
<h5>Test</h5>
<ul>
  <li>écriture de tests unitiares automatiques de non regession pour les services, contrôleurs et directives</li>
  <li>injection de différents jeux de données</li>
  <li>écriture de tests fonctionnels</li>
  <li>gestion des requêtes asynchrones avec <i>$httpBackend</i></li>
</ul>
<h5>Performance</h5>
<ul>
  <li>utilisation d'AngularJS Batarang</li>
  <li>virtual scroll</li>
  <li>implémentation de <strong>ReactJS</strong> pour les listes longues</li>
  <li>utilisation de l'evènement $destroy</li>
  <li>transclusion</li>
</ul>
