<div>
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Qualifications techniques</span>
    </h2>
  </md-toolbar>
  <md-grid-list class="technical-skills"
    md-cols="11" md-cols-lg="11" md-cols-md="20" md-cols-sm="1"
    md-row-height="24:9" md-row-height-lg="24:9" md-row-height-md="13:8" md-row-height-sm="2:2"
    md-gutter="12px" md-gutter-lg="6px" md-gutter-md="3px" md-gutter-sm="3px">
    <md-grid-tile ng-repeat="technicalSkill in main.technicalSkills" ng-class="technicalSkill.class"
      md-colspan="{{technicalSkill.mdColspan}}" md-colspan-lg="{{technicalSkill.mdColspanLg}}" md-colspan-md="{{technicalSkill.mdColspanMd}}" md-colspan-sm="{{technicalSkill.mdColspanSm}}"
      md-rowspan="{{technicalSkill.mdRowspan}}" md-rowspan-md="{{technicalSkill.mdRowspanMd}}">
      <md-grid-tile-header ng-if="technicalSkill.head">
        <h3 ng-bind="technicalSkill.head"></h3>
      </md-grid-tile-header>
      <md-chips ng-model="technicalSkill.list" readonly="true" class="with-icon">
        <md-chip-template layout="row">
          <img ng-src="{{$chip.image}}" alt="{{$chip.name}}">
          <strong ng-bind="$chip.name"></strong>
        </md-chip-template>
      </md-chips>
      <md-grid-tile-footer ng-if="technicalSkill.foot">
        <h4 ng-bind="technicalSkill.foot"></h4>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
<div>
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Qualifications orientées projet web</span>
    </h2>
  </md-toolbar>
  <md-grid-list class="project-skills"
    md-cols="1" md-cols-lg="1" md-cols-md="3" md-cols-sm="1"
    md-row-height="1:1" md-row-height-lg="2:2" md-row-height-md="6:3" md-row-height-sm="4:4"
    md-gutter="12px" md-gutter-lg="6px" md-gutter-md="3px" md-gutter-sm="3px">
    <md-grid-tile ng-repeat="projectSkill in main.projectSkills" ng-class="projectSkill.class"
      md-colspan="{{projectSkill.mdColspan}}" md-colspan-lg="{{projectSkill.mdColspanLg}}" md-colspan-md="{{projectSkill.mdColspanMd}}" md-colspan-sm="{{projectSkill.mdColspanSm}}"
      md-rowspan="{{projectSkill.mdRowspan}}" md-rowspan-md="{{projectSkill.mdRowspanMd}}">
      <md-grid-tile-header>
        <h3 ng-bind="projectSkill.head"></h3>
      </md-grid-tile-header>
      <md-chips ng-model="projectSkill.list" readonly="true">
        <md-chip-template layout="row">
          <strong ng-bind="$chip.name"></strong>
        </md-chip-template>
      </md-chips>
      <md-grid-tile-footer ng-if="projectSkill.foot">
        <p ng-bind="projectSkill.foot"></p>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
<md-toolbar class="md-theme-light">
  <h2 class="md-toolbar-tools">
    <span>Expériences professionnelles</span>
  </h2>
</md-toolbar>
<div>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="job in main.jobs">
      <a ng-href="{{job.link}}" target="_blank">
        <img ng-src="{{job.face}}" class="face" alt="{{job.what}}">
      </a>
      <div class="md-list-item-text">
        <h3 ng-bind="job.what"></h3>
        <h4 ng-bind="job.who"></h4>
      </div>
      <div class="md-list-item-text">
        <p ng-bind="job.when"></p>
        <p ng-bind="job.notes"></p>
      </div>
      <md-divider md-inset ng-if="!$last"></md-divider>
  </md-list>
</div>
