<div layout-margin>
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Qualifications techniques</span>
    </h2>
  </md-toolbar>
  <md-grid-list class="technical-skills"
    md-cols="11" md-cols-lg="11" md-cols-md="2" md-cols-sm="1"
    md-row-height="24:9" md-row-height-lg="24:9" md-row-height-md="18:5" md-row-height-sm="2:2"
    md-gutter="8px" md-gutter-lg="6px" md-gutter-md="3px" md-gutter-sm="3px">
    <md-grid-tile ng-repeat="technicalSkill in main.technicalSkills" ng-class="technicalSkill.class"
      md-colspan="{{technicalSkill.mdColspan}}" md-colspan-lg="{{technicalSkill.mdColspanLg}}" md-colspan-md="{{technicalSkill.mdColspanMd}}" md-colspan-sm="{{technicalSkill.mdColspanSm}}"
      md-rowspan="{{technicalSkill.mdRowspan}}" md-rowspan-md="{{technicalSkill.mdRowspanMd}}">
      <md-grid-tile-header ng-if="technicalSkill.head">
        <h3 ng-bind="technicalSkill.head"></h3>
      </md-grid-tile-header>
      <md-chips ng-model="technicalSkill.list" readonly="true" class="with-icon" layout-padding>
        <md-chip-template layout="row">
          <img ng-src="{{$chip.image}}" alt="{{$chip.name}}">
          <strong ng-bind="$chip.name"></strong>
        </md-chip-template>
      </md-chips>
      <md-grid-tile-footer ng-if="technicalSkill.foot">
        <h4 ng-bind="technicalSkill.foot"></h4>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
<div layout-margin>
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Qualifications orientées projet web</span>
    </h2>
  </md-toolbar>
  <md-grid-list class="project-skills"
    md-cols="6" md-cols-lg="1" md-cols-md="7" md-cols-sm="1"
    md-row-height="1:1" md-row-height-lg="2:2" md-row-height-md="3:2" md-row-height-sm="4:4"
    md-gutter="8px" md-gutter-lg="6px" md-gutter-md="3px" md-gutter-sm="3px">
    <md-grid-tile ng-repeat="projectSkill in main.projectSkills" ng-class="projectSkill.class"
      md-colspan="{{projectSkill.mdColspan}}" md-colspan-lg="{{projectSkill.mdColspanLg}}" md-colspan-md="{{projectSkill.mdColspanMd}}" md-colspan-sm="{{projectSkill.mdColspanSm}}"
      md-rowspan="{{projectSkill.mdRowspan}}" md-rowspan-md="{{projectSkill.mdRowspanMd}}">
      <md-grid-tile-header>
        <h3 ng-bind="projectSkill.head"></h3>
      </md-grid-tile-header>
      <md-chips ng-model="projectSkill.list" readonly="true" layout-padding>
        <md-chip-template layout="row">
          <strong ng-bind="$chip.name"></strong>
        </md-chip-template>
      </md-chips>
      <md-grid-tile-footer ng-if="projectSkill.foot">
        <p ng-bind="projectSkill.foot"></p>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
<div layout-margin>
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Expériences professionnelles & Formation</span>
    </h2>
  </md-toolbar>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="job in main.jobs">
      <a ng-href="{{job.link}}" target="_blank">
        <img ng-src="{{job.face}}" class="sticker" alt="{{job.what}}">
      </a>
      <div class="md-list-item-text">
        <h3 layout="row" layout-align="space-between">
          <span ng-bind="job.what"></span>
          <span ng-bind="job.who"></span>
        </h3>
        <h4 layout="row" layout-align="space-between">
          <span ng-bind="job.role"></span>
          <span ng-bind="job.when"></span>
        </h4>
      </div>
      <div class="md-list-item-text">
        <p ng-bind="job.notes"></p>
      </div>
      <md-divider md-inset></md-divider>
    </md-list-item>
    <md-list-item class="md-2-line" ng-repeat="formation in main.formations">
      <!-- <a ng-href="{{formation.link}}" target="_blank">
        <img ng-src="{{formation.face}}" class="smile" alt="{{formation.what}}">
      </a> -->
      <div layout="row" layout-align="space-between" class="md-list-item-text">
        <h3 ng-bind="formation.what"></h3>
        <p ng-bind="formation.when"></p>
      </div>
      <md-divider md-inset ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</div>
