<md-button class="md-primary">Click me</md-button>
<md-button class="md-accent">or maybe me</md-button>
<md-button class="md-warn">Careful</md-button>
<md-button class="md-accent md-hue-1">Click me</md-button>
<md-button class="md-accent md-hue-2">Click me</md-button>
<md-button class="md-accent md-hue-3">Click me</md-button>
<md-content class="md-padding" layout="column">
  <h2 class="md-title">Javascript</h2>
  <md-chips>
    <md-chip>AngularJS</md-chip>
    <md-chip>lodash</md-chip>
    <md-chip>D3JS</md-chip>
  </md-chips>
  <p class="note">
    C'est la technologie sur laquelle j'ai fait le plus de progrès dernièrement.
  </p>
</md-content>
